<nav class="navbar">
    <div class="navbar-container">
        <a class="navbar-brand" href="#" (click)="showAllGames(); $event.preventDefault()"
            >Game Vault</a
        >

        <div class="navbar-links">
            <button
                (click)="filterPopular()"
                class="nav-link"
                [class.active]="activeFilter === 'popular'"
            >
                Más populares
            </button>
            <button
                (click)="filterDownloaded()"
                class="nav-link"
                [class.active]="activeFilter === 'downloaded'"
            >
                Más descargados
            </button>
            <button
                (click)="filterUpcoming()"
                class="nav-link"
                [class.active]="activeFilter === 'upcoming'"
            >
                Próximamente
            </button>
            <button
                (click)="navigateToAdd()"
                class="nav-link"
                [class.active]="activeFilter === 'add'"
            >
                Agregar
            </button>
        </div>
        <button (click)="logout()" class="btn btn-logout">Salir</button>
    </div>
</nav>

<main class="home-content">
    <div class="container">
        <h2 class="section-title">Catálogo de Juegos</h2>
        <div class="card-grid">
            <app-game-card
                *ngFor="let card of displayedGames; trackBy: trackByGameId"
                [game]="card"
            ></app-game-card>

            <div
                *ngIf="displayedGames.length === 0 && activeFilter !== 'all'"
                class="no-games-message"
            >
                No se encontraron juegos para el filtro seleccionado.
            </div>
        </div>
    </div>
</main>
